{%load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
  <nav class="navbar navbar-expand-lg  fixed-top ;">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/logoo.png'%}" style="height: 45px; width: 45px;">
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: white;font-size: 20px;">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: white; font-size: 20px;">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white; font-size: 20px;">SIGNUP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white; font-size: 20px;">ABOUT</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white; font-size: 20px;">CONTACT US</a>
      </li>

          </ul>
        </div>
    </div>
</nav>