<div class="container-fluid about">
    <div class="d-flex flex-nowrap justify-content-center overflow-auto">
        <div class="p-2">
            <img src="{% static 'img/cruel.webp' %}" class="custom-image" alt="Cruel Image">
        </div>
        <div class="p-2">
            <img src="{% static 'img/dermaa.webp' %}" class="custom-image" alt="Dermaa Image">
        </div>
        <div class="p-2">
            <img src="{% static 'img/opthaaa.webp' %}" class="custom-image" alt="Opthaaa Image">
        </div>
        <div class="p-2">
            <img src="{% static 'img/praben.webp' %}" class="custom-image" alt="Praben Image">
        </div>
        <div class="p-2">
            <img src="{% static 'img/vegaab.webp' %}" class="custom-image" alt="Vegaab Image">
        </div>
        <div class="p-2">
            <img src="{% static 'img/vegetria.webp' %}" class="custom-image" alt="Vegetria Image">
        </div>
    </div>