* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Ensure full height */
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, rgba(242,203,208,1) 35%, rgba(240,197,204,1) 100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.overall {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow this to grow */
}

h2 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* This section will take the remaining space */
    max-height: calc(100vh - 100px); /* Adjust based on footer height */
    overflow: hidden; /* Prevent scrolling */
    margin-top: 5%;
}

.logcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px; /* Fixed height for the login box */
    width: 30%;
    max-width: 500px; 
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgba(255, 255, 255, 0.8); 
}

.logcont input[type="email"],
.logcont input[type="submit"] {
    margin-top: 20px;
    padding: 10px 12px;
    border: 1px solid  #f2cbd0;
    border-radius: 5px;
    width: 100%; 
    max-width: 300px;
    text-align: center; 
}
input:focus::placeholder {
    opacity: 0; 
}

.logcont input[type="submit"]:hover {
    background-color: #e2a6a9;
}

.logcont input[type="submit"] {
    margin-top: 20px;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    background-color: #f2cbd0;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

footer {
    width: 100%;
    background-color: pink;
    text-align: center; 
    height: 13%;
}
a {
    display: block; 
    margin-top: 10px; 
    text-align: center; 
    color: black; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem; 
    }
    .logcont{
        width: 60%;
    }
}
